/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		RESET EVERYTHING
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	@import url("./reset.css");




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BODY, WRAPPINGS, ANCHORS, anything sitewide
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	html {
		font-size: 13px;
		}
	
		body {
			font-family: Monaco, Consolas, Courier, monospace;
			font-size: 1em;
			line-height: 1.8em;
			color: #8DA1BD;
			background: #141721;
			padding: 60px;
			width: 45em;
			}
		
			a { color: #AEF23C; text-decoration: none; }
		
				a:hover { color: #FBD329; }
				
				
			

				
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		HEADER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#header {
		margin: 0 0 7em 0;
		}
	
		#header h1 a {
			color: #FF84C7;
			}
			
			#header h1 a:hover { color: #FBD329; }
		
			#description {
				color: #D34C75;
				margin: 0 0 7em 0;
				}
				
				#description a {
					color: #822B46;
					}
					
					#description a:hover {
						color: #fff;
						}
				
		
		
		
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		CONTENT
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */		
		
	.post {
		margin: 0 0 7em 0;
		}
		
		.permalink {
			margin: 1.5em 0 0 0;
			}
			
			.permalink a {
				background: #292D49;
				padding: 2px 5px;
				color: #597C1D;
				}		
				
				.permalink a:hover {
					color: #FBD329;
					}
				
		
		


/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		QUOTE
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */		
		
	.quote p, .photo p, .video p, .audio p, #content .conversation, .text blockquote, #footer {
		color: #304156;
		}
			
		
		
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		PHOTO
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	.photo img, .photo a img, .video object {
		border: 1px solid #8DA1BD;
		}
		
		.photo a:hover img {
			border: 1px solid #FFF;
			}
		
		
		
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		CONVERSATION
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#content .conversation {
		line-height: 2em;
		}
	
		.member1 {
			color: #8DA1BD;
			}
	
			.label { color: #999; }
			
			.member1 .label { color: #FFF; }
	
	
	
	
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		TEXT
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	.text h2, .conversation h2 {
		color: #fff;
		margin: 0 0 1.5em 0;
		}
		
	.text p, .audio p {
		margin: 0 0 1.5em 0;
		}
		
	.text blockquote {
		margin: 0 0 1.5em 1.5em;
		padding: 0 0 0 1.5em;
		border-left: 1px solid #304156;
		}
	
	ul {
		list-style-type: square;
		margin: 0 0 1.5em 2.5em;
		}
		
	ol {
		list-style-type: decimal;
		margin: 0 0 1.5em 2.5em;
		}
		
	strong { color: white; }
	
	em { color: white; font-style: italic; }
	
	
		
		
		
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		NAVIGATION
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#navigation {
		height: 1.5em;
		margin: 0 0 7em 0;
		}
		
		
		
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FOOTER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#footer {
		margin: 0 0 7em 0;
		}
		
		#searchform {
			margin: 0 0 2em 0;
			}
			
		#footer a { color: #597C1D; }
	
			#footer a:hover { color: #FBD329; }
	
	
	
	
	
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
			
			
			
			
			
			
			
			